Olhos Da Esteira/*.iml
Olhos Da Esteira/.gradle
Olhos Da Esteira/local.properties
Olhos Da Esteira/.idea/caches
Olhos Da Esteira/.idea/libraries
Olhos Da Esteira/.idea/modules.xml
Olhos Da Esteira/.idea/workspace.xml
Olhos Da Esteira/.idea/navEditor.xml
Olhos Da Esteira/.idea/assetWizardSettings.xml
Olhos Da Esteira/.DS_Store
Olhos Da Esteira/build
Olhos Da Esteira/captures
Olhos Da Esteira/.externalNativeBuild
Olhos Da Esteira/.cxx
Olhos Da Esteira/local.properties

CodigoIAReconhecimenrto/IA/my_model.keras
CodigoIAReconhecimenrto/IA/my_model.keras
